body {
  background-image: url(../Picture/Yone.jpg);
}

.container {
  position: relative;
  width: 100%;
  max-width: 600px;
}

.image {
  width: 50%;
  height: 1000;
}

.text {
  position: absolute;
  top: 50%;
  /* Điều chỉnh vị trí chữ theo chiều dọc */
  left: 50%;
  /* Điều chỉnh vị trí chữ theo chiều ngang */
  transform: translate(-150%, -150%);
  /* Giúp căn giữa chữ */
  color: white;
  /* Màu chữ */
  font-size: 24px;
  /* Kích thước chữ */
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
  /* Đổ bóng cho chữ để dễ đọc hơn */
}
