body {
  background-image: url(Sky.jpg);
}

h1 {
  background-color: yellow;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-style: normal;
  color: blueviolet;
  opacity: 100%;
  display: flexbox;
}

h2 {
  text-align: center;
  color: brown;
  background-color: yellow;
}

p {
  font-family: Arial, Helvetica, sans-serif;
  width: 1000px;
  text-align: left;
}
